<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="src/app.js" defer></script>
    <title>Hello Vue</title>
</head>
<body>
    <div id="app">
        <form id="app-form">
            <input type="text" name="nome" id="nome" v-model="input_name">
            <input type="number" name="idade" id="idade" v-model="input_idade">
            <input type="submit" value="Enviar" v-on:click="submitForm">
        </form>
        <p>O meu nome é: {{ name }}</p> <!-- /*importar informações do app é feito com {{ }}*/ -->
        <p>O meu nome em tempo real é: {{ input_name }}</p>
        <p>Tenho a idade: {{ idade }}</p> <!-- /*importar informações do app é feito com {{ }}*/ -->
        <p>Tenho a idade: {{ input_idade }}</p> <!-- /*importar informações do app é feito com {{ }}*/ -->
    </div>

    
</body>
</html>